<style type="text/css">
    
</style>
<ion-view title="Workout Calendar">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <a href="#/timeEditor" class="button button-stable button-block ">More Specific</a>
        <div>
            <ion-scroll zooming="false" direction="y" style="height:500px;">
                <div>
                    <table class="main" style="table-layout: fixed; border: solid 1px; border-color: gray;">
                        <tbody>
                            <tr>
                                <td style="width: 20%;">
                                    <!-- the time title, need to ng repeat this -->
                                    <table class="time-name">
                                        <tbody>
                                            <tr ng-repeat="date in dates">
                                                <!-- todo might consider refactoring to just check if the elements are the last or first one -->
                                                <td ng-style="date.style2">{{ date.time }}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                                 <td style="width: 80%;">
                                    <!-- The button for the title, ng repeat this -->
                                    <table class="time-button">
                                        <tbody>
    <!--                                         <tr>
                                                <td style="border-top: none;"></td>
                                            </tr> -->
                                            <tr ng-repeat="date in dates">
                                                <td ng-style="date.style" ng-click="select($index)">&nbsp;</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>            
            </ion-scroll>
            <p>
                The code for the calendar inside a scroll bar
                <b>HTML</b>for
                <u>flavor</u>, probably a quick way to selec the workout fopr the day
            </p>
        </div>
    </ion-content>
</ion-view>