<ion-view title="Workout Main Menu">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <div>
            <p>
                Add some
                <b>HTML</b>for
                <u>flavor</u>
                    <button class="button button-clear button-full button-dark" ng-click="request()">
                        <h2><b>Press Me.</b></h2>
                    </button>

            </p>
        </div>
        <a href="#/calendar" class="button button-stable button-block ">Edit Workout</a>
        <a href="#/glossary" class="button button-stable button-block ">Glossary</a>
    </ion-content>
</ion-view>