<!-- custom back button since the tabs don't allow custom back -->
<ion-nav-bar class="bar-positive">
    <ion-nav-buttons side="left">
        <button ng-if="$root.showCustomBack" ng-click="$root.goBack()" class="button button-clear"><i class="icon ion-chevron-left"></i></button>
    </ion-nav-buttons>
</ion-nav-bar>

<ion-tabs class="tabs-striped tabs-positive tabs-top tabs-background-positive tabs-color-light">
    <ion-tab title="Mon" on-select="swapTab(0)">
    </ion-tab>
    <ion-tab title="Tue" on-select="swapTab(1)">
    </ion-tab>
    <ion-tab title="Wed" on-select="swapTab(2)">
    </ion-tab>
    <ion-tab title="Thu" on-select="swapTab(3)">
    </ion-tab>
    <ion-tab title="Fri" on-select="swapTab(4)">
    </ion-tab>
    <ion-tab title="Sat" on-select="swapTab(5)">
    </ion-tab>
    <ion-tab title="Sun" on-select="swapTab(6)">
    </ion-tab>
</ion-tabs>

<ion-view title="Workout Calendar">
    <!-- unknown reason, but this has to be outside -->
    <ion-nav-buttons side="right">
        <button class="button" ng-click="clear()">
            <i class="icon ion-close-round">Clear</i>
        </button>
    </ion-nav-buttons>

    <ion-content overflow-scroll="true" padding="true" class="has-tabs-top"> <!-- important class!! -->
        <a href="#/timeEditor/{{tab}}" class="button button-stable button-block ">More Specific</a>

        <label class="item item-input-wrapper">
            <span class="input-label">Exercises</span>
            <input type="tel" placeholder='Current amount: ' ng-keydown='inputAdded()' ng-model="dates[tab].dailyExercises" ng-model-options="{getterSetter: true}">
        </label>
        <br />
        <div>
            <ion-scroll zooming="false" direction="y" style="height:280px;">
                <div>
                    <!-- main table that contains the time table and the button table -->
                    <table class="main" style="table-layout: fixed; border: solid 1px; border-color: gray;">
                        <tbody>
                            <tr>
                                <td style="width: 20%;">
                                    <!-- the time title -->
                                    <table class="time-name">
                                        <tbody>
                                            <tr ng-repeat="date in dates[tab].list">
                                                <!-- todo might consider refactoring to just check if the elements are the last or first one -->
                                                <td ng-style="date.object.style2">{{ date.object.date }}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                                 <td style="width: 80%;">
                                    <!-- The button for the time -->
                                    <table class="time-button">
                                        <tbody>
                                            <tr ng-repeat="date in dates[tab].list">
                                                <td ng-style="date.object.style" ng-click="select($index)">&nbsp;</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                    <!-- <ion-item>
                        <label class="item item-input-wrapper">
                            <span class="input-label">Exercises</span>
                            <input type="tel" placeholder='Current amount: ' ng-keydown='inputAdded()' value={{dates.exercise}} ng-model-options="{getterSetter: true}">
                        </label>
                    </ion-item> -->

                </div>            
            </ion-scroll>


            <button class="button button-full button-assertive" ng-show="changed" ng-click="saveChanges()">Save</button>
        </div>
    </ion-content>

</ion-view>