<ion-view title="Workout Main Menu">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <div>
            <p>
                Add some
                <b>HTML</b>for
                <u>flavor</u>
            </p>
        </div>
        <a href="#/calendar" class="button button-stable button-block ">Edit Workout</a>
        <a href="#/glossary" class="button button-stable button-block ">Glossary</a>
        <button class="button button-stable button-block" ng-click="api()">API Call</button>
    </ion-content>
</ion-view>