<ion-view title="Workout Glossary">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <div class="list card">
            <div class="item item-divider">Card</div>
            <div class="item item-body"></div>
            <div class="item item-divider">Note: I don't know if there's an openable box.</div>
        </div>
        <ion-list>
            <ion-item>Push Up</ion-item>
            <ion-item>Sit up</ion-item>
            <ion-item>Item 3</ion-item>
        </ion-list>
    </ion-content>
</ion-view>