<ion-view title="Workout Time Editor">
	<ion-content overflow-scroll="true" padding="true" class="has-header">
		<h1>Start time: {{startHour}}:{{startShowMinute}}</h1>
		<button class="button button-block button-positive" ng-click="clickOne()">Choose Start Time</button>
		<h1>End time: {{endHour}}:{{endShowMinute}}</h1>
		<button class="button button-block button-positive" ng-click="clickTwo()">Choose End Time</button>
		<br />
		<button class="button button-block button-positive" ng-click="addTime()">Add Time Range</button>
		<!-- <form class="list">
			<label class="item item-input">
				<span class="input-label">Start</span>
				<input type="text" placeholder="">
			</label>
			<label class="item item-input">
				<span class="input-label">End</span>
				<input type="text" placeholder="">
			</label>
			<label class="item item-select">
				<span class="input-label">Type of Exercise</span>
				<select></select>
			</label>
			<label class="item item-select">
				<span class="input-label">Sets a day</span>
				<select></select>
			</label>
			<label class="item item-select">
				<span class="input-label">Reps per set</span>
				<select></select>
			</label>
			<label class="item item-select">
				<span class="input-label">Sets per exercise</span>
				<select></select>
			</label>
			<button class="button button-stable button-block ">Back</button>
		</form> -->
	</ion-content>
</ion-view>