<ion-view title="Workout Time Editor">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <button class="button button-stable button-block ">Add</button>
        <form class="list">
            <label class="item item-input">
                <span class="input-label">Start</span>
                <input type="text" placeholder="">
            </label>
            <label class="item item-input">
                <span class="input-label">End</span>
                <input type="text" placeholder="">
            </label>
            <label class="item item-select">
                <span class="input-label">Type of Exercise</span>
                <select></select>
            </label>
            <label class="item item-select">
                <span class="input-label">Sets a day</span>
                <select></select>
            </label>
            <label class="item item-select">
                <span class="input-label">Reps per set</span>
                <select></select>
            </label>
            <label class="item item-select">
                <span class="input-label">Sets per exercise</span>
                <select></select>
            </label>
            <button class="button button-stable button-block ">Back</button>
        </form>
    </ion-content>
</ion-view>