<ion-view title="Workout Glossary">

    <ion-content overflow-scroll="true" padding="true" class="has-header">
		<ion-list>
			<div ng-init="alert('initialized')" ng-repeat="group in groups">
				<ion-item class="item-stable"
						ng-click="toggleGroup(group)"
						ng-class="{active:
						isGroupShown(group)}">
					<i class="icon"
					ng-class="isGroupShown(group) ?
					'ion-minus' : 'ion-plus'"></i>
					Exercise: {{group.name}}
				</ion-item>
 				<ion-item class="item-accordion"
							ng-repeat="group in groups"
							ng-show="isGroupShown(group)">
					<img src={{group.image}}>
					<label class="item item-input-wrapper">
  						<span class="input-label">Sets</span>
  						<input type="tel" placeholder='Current amount: {{group.sets}}' value={{group.sets}} ng-keydown='changed()' ng-model=group.sets ng-model-options="{getterSetter: true}">
					</label>

					<label class="item item-input-wrapper">
  						<span class="input-label">Reps</span>
  						<input type="tel" placeholder='Current amount: {{group.reps}}' value={{group.reps}} ng-keydown='changed()' ng-model=group.reps ng-model-options="{getterSetter: true}">
					</label>

<!-- 
					<ion-checkbox ng-model="isChecked" value={{group.enabled}} 
					ng-click='changed()' ng-model="group.enabled">
						Enabled?
					</ion-checkbox> -->
				</ion-item>
			</div>

			<div class="button-bar">
	  			<button class="button button button-positive" ng-disabled=disabled ng-click="save()">
	      			Save
	   			</button>
	  			<button class="button button button-stable" ng-click="cancel()">
	      			Cancel
	   			</button>
   			</div>

			</ion-list>
    </ion-content>
</ion-view>