/* Empty. Add your own CSS if you like */
td {
	width: 1500px;
	height: 50px;
	padding-top: 0px;
}

table.main {
	background-color: #eee;
}

table.time-name {
	background-color: white;
	margin-right: 10px;
}

table.time-button {
	background-color: white;
}

.time-name > tbody > tr > td {
	border-style: solid;
	border-width: 1px;
	width: "20%";
	border-left: none;
	border-color: gray;
	margin-right: 5px;
}

.time-button > tbody > tr > td {
	border-style: dashed;
	border-width: 1px;
	width: "20%";
	border-left: thin dashed;
	border-right: none;	
	border-color: gray;
	/*background: #b2b2b2;*/
}

.list .item.item-accordion {
	line-height: 38px;
	padding-top: 0;
	padding-bottom: 0;
	transition: 0.09s all linear;
}

.list .item.item-accordion.ng-hide {
	line-height: 0px;
}

.list .item.item-accordion.ng-hide-add,
.list .item.item-accordion.ng-hide-remove {
	display: block !important;
}